<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  {{ if fileExists "/static/manifest.webmanifest" }}<link rel="manifest" href="{{ "manifest.webmanifest" | relURL }}">{{ end }}
  {{ if fileExists "/static/favicon.ico" }}<link rel="icon" href="{{ "favicon.ico" | relURL }}" sizes="any">{{ end }}
  {{ if fileExists "/static/icon.svg" }}<link rel="icon" href="{{ "icon.svg" | relURL }}" type="image/svg+xml">{{ end }}
  {{ if fileExists "/static/apple-touch-icon.png" }}<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">{{ end }}
  <link rel="stylesheet" href="{{ "typo.css" | relURL }}">
  <link rel="stylesheet" href="{{ "style.css" | relURL }}">
</head>
